.sidenav-container {
    height: 100vh;

    .sidebar {
        // width: 320px;
        width: 260px;
        border-radius: 0px;
        // background-color: #1e1e1e;

    }

    .main-content {
        // background-color: #2d2d2d;
    }
}
